/* https://lospec.com/palette-list/microsoft-windows 
https://win98icons.alexmeub.com/*/
@font-face {
    font-family: "font98";
    src: url(font/W95FA.otf);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* img {
    max-width: 100%;
    height: auto;
} */
a {
    text-decoration: none;
}
html {
    background-color: var(--green98);
    height: 100vh;
    overflow: hidden;
}

.container {
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.container-sezioni {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin-bottom: 10px;
    width: 5%;
    text-align: center;
}
.container-sezioni img {
    width: auto;
    margin-bottom: 5px;
}
.container-sezione {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    color: #ffffff;
    width: 100%;
    text-align: center;
    flex-wrap: wrap;
}

.chrome img{
    height: 40px;
    width: 40px;
}
.explorer {
    color: black;
    margin-top: 10px;
}
.ied {
    margin-top: 10px;
    margin-left: 20px;
}








/* Modali */
.mainoptions {
    display: flex;
    align-items: center;
}
.options {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    margin-top: 5px;
    height: 25px;
    border-top: 1px solid rgba(255,255,255);
    border-left: 1px solid rgba(255,255,255);
    border-bottom: 1px solid rgba(126,126,126,1);
    border-right: 1px solid rgba(126,126,126,1);
    width: 90%;
}
.boxnero {
    background-color: black;
    height: 25px;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 5px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxnero img {
    height: 30px;
}
.options a {
    margin-right: 20px;
    color: black;
    position: relative;
    cursor: pointer;
}
.options a:after {
    content: '';
    position: absolute;
    width: 30%;
    display: block;
    border-bottom: 1px black solid;    

}

.colonninaoptions {
    background: linear-gradient(90deg, rgba(255,255,255) 0%, rgba(126,126,126,1) 100%);
    width: 3px;
    height: 20px;
    margin-left: 2px;
    margin-right: 5px;
}
.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal {
  margin-top: 100px;
  display: none; /* Hidden by default */
  justify-content: center;
  position: absolute; /* Stay in place */
  top: 0;
  z-index: 1; /* Sit on top */
  width: 500px; /* Full width */
}

.height-cestino {
    height: auto;
}
.white-box {
    border-top: black 1px solid;
    border-left: black 1px solid;
    border-right: var(--grey98) 1px solid;
    border-bottom: var(--grey98) 1px solid;
    background-color: white;
}
.mycomputer {
    height: auto;
    padding-bottom: 10px;

}
.mycomputer h4 {
    text-align: center;
    margin-top: 10px;
    font-family: "font98";
}
.mycomputer p {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 15px;
    color: black;
    font-family: "font98";
}
.mycomputer strong {
    color: blue;
    font-size: 15px;
}
.white-box-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.white-box-grid__box1 {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 250px;
    width: 150px;
}
.white-box-grid__box1 img {
    height: 30px;
    margin-left: 20px;
    margin-top: 10px;
}
.white-box-grid__box1 h4 {
    display: flex;
    justify-content: center;
    font-size: 15px;
    text-align: left;
}
.white-box-grid__box1 p {
    margin-left: 20px;
    font-size: 15px;
    font-family: "font98";
    margin-bottom: 10px;
}

.white-box-grid__box2 {
    margin-left: 30px;
    flex-direction: row;
    flex-wrap: wrap;
}
.white-box-grid__box2 a {
    color: black;
}
.riga {
    margin-left: -30px;
}
.riga img {
    height: 48px;
    width: 48px;
}
.modal#chromeModal {
    width: 300px;
}
.chromewindow {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}
.chromewindow p {
    margin-left: 10px;
}
.chromewindow_button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}
.chromewindow_button button {
    cursor: pointer;
    color: black;
}
.projects h4 {
    margin-left: -10px;
}
.black-box-grid {
    background-color: black;
    color: white;
    font-family: "font98";
    font-size: 15px ;
    height: 300px;
}
textarea {
    width: 100%;
    height: 80%;
    background-color: black;
    resize: none;
    color: white;
    border: none;
    box-shadow: none;
    font-size: 15px;
    font-family: "font98";
    overflow: hidden;
    padding: 0;
}






/* Footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--grey98);
    height: auto;
    margin-top: auto;
}
.btnstart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "font98";
    font-size: 15px;
    font-style: bold;
}
.btnstart img {
    height: 25px;
    margin-right: 5px;
}
.container-separatore {
    display: flex;
    justify-content: center;
    align-items: center;
}
.separatore {
    height: 21px;
    width: 1px;
    margin-left: 2px;
    box-shadow: 0px 0px 1px 2px var(--grey98);
    background: linear-gradient(90deg,  rgba(190,190,190,1) 0%, rgba(126,126,126,1) 100%);
}
.colonnina {
    background: linear-gradient(90deg, rgba(255,255,255) 0%, rgba(126,126,126,1) 100%);
    width: 3px;
    height: 15px;
    margin-left: 2px;
    margin-right: 5px;
}
.box-icons {
    display: flex;
    justify-content: center;
    flex-direction: row;   
    align-items: center;
}
.box-icons button {
    margin-left: 5px;
    margin-right: 5px;
    width: 10px;
}
.icons {
    height: 15px;
    margin-left: 5px;
    margin-right: 5px;
}
a:focus {
    outline: 1px dotted black;
}
.btn-modali {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.btn-modali button {
    padding: 0px;
    width: 130px;
    text-align: left;
    padding-left: 5px;
    display: flex;
    align-items: center;
    margin-top: 2px;
    display: none;
}
.btn-modali img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
.container-sezioni-fine {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}
.container-orario {
    display: flex;
    align-items: center;
    width: 120px;
    height: 20px;
    margin-left: 3px;
    margin-right: 3px;
    border-top: 1px solid rgba(126,126,126,1);
    border-left: 1px solid rgba(126,126,126,1);
    border-bottom: 1px solid rgba(255,255,255);
    border-right: 1px solid rgba(255,255,255);
    padding-top: 2px;
}
@media(max-width:900px){
    .modal {
        width: 300px;
    }
    .container {
        margin-left: 30px;
        margin-right: 30px;
    }
    .white-box-grid__box1 {
        width: 100px;
    }
    .white-box-grid__box1 p{
        margin-left: 10px;
    }
    .white-box-grid__box1 h4{
        margin-left: 10px;
    }
    .white-box-grid__box1 img{
        margin-left: 10px;
    }
    .white-box-grid__box2 img {
        max-width: 100%;
        height: auto;
    }
    .boxnero {
        display: none;
    }
    .options {
        width: 100%;
        margin-right: 10px;
    }
    .container-sezione {
        flex-direction: column;
    }
    .container-sezione img {
        width: 30px;
        height: 30px;
    }
    .mycomputer h4 {
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media(max-width:350px) {
    .modallow {
        margin-top: 5px;

    }
}
    