/* https://lospec.com/palette-list/microsoft-windows 
https://win98icons.alexmeub.com/*/
@font-face {
    font-family: "font98";
    src: url(font/W95FA.otf);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* img {
    max-width: 100%;
    height: auto;
} */
a {
    text-decoration: none;
}
html {
    background-color: var(--green98);
    height: 100vh;
}
.container {
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
@media(max-width:900px){
    .container {
        margin-left: 30px;
        margin-right: 30px;
    }
}
.container-sezioni {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin-bottom: 10px;
    width: 5%;
    text-align: center;
}
.container-sezioni img {
    width: auto;
    margin-bottom: 5px;
}































footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--grey98);
    height: auto;
    margin-top: auto;
}
.btnstart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "font98";
    font-size: 15px;
    font-style: bold;
}
.btnstart img {
    height: 25px;
    margin-right: 5px;
}
.container-separatore {
    display: flex;
    justify-content: center;
    align-items: center;
}
.separatore {
    height: 21px;
    width: 1px;
    margin-left: 2px;
    box-shadow: 0px 0px 1px 2px var(--grey98);
    background: linear-gradient(90deg,  rgba(190,190,190,1) 0%, rgba(126,126,126,1) 100%);
}
.colonnina {
    background: linear-gradient(90deg, rgba(255,255,255) 0%, rgba(126,126,126,1) 100%);
    width: 3px;
    height: 15px;
    margin-left: 2px;
    margin-right: 5px;
}
.box-icons {
    display: flex;
    justify-content: center;
    flex-direction: row;   
    align-items: center;
}
.box-icons button {
    margin-left: 5px;
    margin-right: 5px;
    width: 10px;
}
.icons {
    height: 15px;
    margin-left: 5px;
    margin-right: 5px;
}
a:focus {
    outline: 1px dotted black;
}
.container-sezioni-fine {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}
.container-orario {
    display: flex;
    align-items: center;
    width: 100px;
    height: 20px;
    margin-left: 3px;
    margin-right: 3px;
    border-top: 1px solid rgba(126,126,126,1);
    border-left: 1px solid rgba(126,126,126,1);
    border-bottom: 1px solid rgba(255,255,255);
    border-right: 1px solid rgba(255,255,255);
    padding-top: 2px;
}
